.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    background-color: black;
    padding: 40px;
    gap: px;
}

.grid-container div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* .grid-item {
    display: grid;
    align-items: center;
} */

#box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5dc1b9;
    height: 700px;
}

#content {

    color: white;
    font-size: 50px;
}




@media (max-width: 600px) {
     .grid-container {
        grid-template-columns: 1fr ;
        
    }
}
